body {
    background:#f8feff;
    font-family:"Times New Roman", Times, serif;
    margin: 40px;
    }
    h1 {
    text-align: center;
    color: #6471fd;
    }
    
    .about{
        display:flex;
        flex-wrap:wrap;
        margin-right: 100px;
        margin-left: 100px;
        justify-content: center;
        background: #00b3d1;
        }
    .about p {
        width:50%;
        text-align: center;
        margin: auto;
        line-height: 125%;
        }
    .about img {
        width: 50px;
        height: 100px;
        border-radius: 25%;
        border: 2px solid rgb(126, 14, 201);
        }
    .skills {
        background: #00b3d1;
        }
    .contact {
        background: #00b3d1;
        }
        .projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
        .project {
        width: 30%;
        margin: 10px;
        padding: 20px 10px;
        background: #76d100;
        border-radius: 25%;
        }
    